.apple{
    .text{
        color: $apple;
    }
    
    .text__tittle{
        color: $strongApple;
    }
}
.iris{
    .text{
        color: $iris;
    }
    
    .text__tittle{
        color: $iris;
    }
}
.fuchisia{
    .text{
        color: $fuchisia;
    }
    
    .text__tittle{
        color: $strongFuchisia;
    }
}