//apple
.apple{
    .text{
        //color: $apple;
    }
    
    .text__tittle{
        //color: $strongApple;
    }
}
//iris
.iris{
    .text{
        //color: $iris;
    }
    
    .text__tittle{
        //color: $iris;
    }
}
//fuchisia
.fuchisia{
    .text{
        //color: $fuchisia;
    }
    
    .text__tittle{
        //color: $strongFuchisia;
    }
}
//dark
.dark{
    .bg{
        background-color: $bg;
    }
    .bg__dark{
        background-color: $bgDark;
    }
    .bg__light{
        background-color: $bgLight;
    }
    .text{
        color: $darkText;
    }
    .text__tittle{
        color: $darkTittleText;
    }
}
//light