div.container{
    z-index: -2;
    position: fixed;
    background-position: center;
    background-size: cover;
}

.container{
    #date__container.hidden{
        animation: scaleUp ease-in 1s;
    }
    #userForm__container.hidden{
        animation: goDownForm ease-in 1s;
    }
}

.operation__result{
    position: fixed;
    left: 70%;
    padding: 2rem 1rem;
    border-radius: 0.5rem 0 0.5rem 0;

    span{
        color: $darkTittleText;
    }
}

@keyframes goDownForm{
    0%{
        transform: translateY(-100%);
    }
    90%{
        transform: translateY(10%);
    }
    100%{
        transform: translateY(0); 
    }
}

@keyframes scaleUp{
    0%{
        transform: scale(0.8)
    } 90%{
        transform: scale(1.2);
    } 100% {
        transform: scale(1);
    }
}
    