//bg
$bgLight: #302F3D;
$bg: #1F1F29;
$bgDark: #1E1D27;
$bgWhite: #F5F5F5;
//texts
$darkTittleText: #B2AEC1;
$darkText: #9691AB;
$lightTittleText: #F2F2F2;
$lightText: #E9E9E9;
//fuchisia
$strongFuchisia:#EF5DA8;
$fuchisia: #F178B6;
$weakFuchisia: #FCDDEC;
//Apple
$strongApple: #77EE4F;
$apple: #86EF63;
$weakApple: #D8FBCC;
//Iris
$strongIris:#5D5FEF;
$iris: #7879F1;
$weakIris: #A5A6F6;

//Imports
@import 'iconsStyling';
@import 'global';
@import 'usualClasses';
@import 'index';
@import 'lockscreenDate';
@import 'userForm';
@import 'home';
@import 'button';