@font-face {
  font-family: 'Icons';
  src: url("../assets/fonts/Icons.eot");
  src: url("../assets/fonts/Icons.eot?83gc3z#iefix") format("embedded-opentype"), url("../assets/fonts/Icons.ttf?83gc3z") format("truetype"), url("../assets/fonts/Icons.woff?83gc3z") format("woff"), url("../assets/fonts/Icons.svg?83gc3z#Icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "\e900";
}

.icon-watch__stopwatch:before {
  content: "\e901";
}

.icon-app__brush:before {
  content: "\e902";
}

.icon-paint__tool__Bucket:before {
  content: "\e903";
}

.icon-app__calculator:before {
  content: "\e904";
}

.icon-paint__tool__colorPicker:before {
  content: "\e905";
}

.icon-paint__tool__elipseSelector:before {
  content: "\e906";
}

.icon-paint__tool_eraser:before {
  content: "\e907";
}

.icon-paint__tool__rectangleSelector:before {
  content: "\e908";
}

.icon-paint__tool__spray:before {
  content: "\e909";
}

.icon-watch__timer:before {
  content: "\e90a";
}

.icon-paint__folder:before {
  content: "\e90b";
}

.icon-music__play:before {
  content: "\e90c";
}

.icon-music__skipBack:before {
  content: "\e90d";
}

.icon-music__skipForward:before {
  content: "\e90e";
}

.icon-notepad__underline:before {
  content: "\e90f";
}

.icon-app__notepad:before {
  content: "\e910";
}

.icon-notepad__save:before {
  content: "\e911";
}

.icon-general__check:before {
  content: "\e912";
}

.icon-app__clock:before {
  content: "\e913";
}

.icon-paint__tool__pen:before {
  content: "\e914";
}

.icon-general__eye:before {
  content: "\e915";
}

.icon-general__eye-off:before {
  content: "\e916";
}

.icon-social__github:before {
  content: "\e917";
}

.icon-general__home:before {
  content: "\e918";
}

.icon-notepad__italic:before {
  content: "\e919";
}

.icon-notepad_bulletList:before {
  content: "\e91a";
}

.icon-general__log-in:before {
  content: "\e91b";
}

.icon-general__log-out:before {
  content: "\e91c";
}

.icon-app__music:before {
  content: "\e91d";
}

.icon-music__pause:before {
  content: "\e91e";
}

.icon-paint__penTool:before {
  content: "\e91f";
}

.icon-general__plus:before {
  content: "\e920";
}

.icon-music__loop:before {
  content: "\e921";
}

.icon-paint__saveCanvas:before {
  content: "\e922";
}

.icon-general__search:before {
  content: "\e923";
}

.icon-paint__export:before {
  content: "\e924";
}

.icon-app__settings:before {
  content: "\e925";
}

.icon-music__shuffle:before {
  content: "\e926";
}

.icon-general__trash:before {
  content: "\e927";
}

.icon-paint__tool__type:before {
  content: "\e928";
}

.icon-music__volume:before {
  content: "\e929";
}

.icon-music__muted:before {
  content: "\e92a";
}

.icon-general__close:before {
  content: "\e92b";
}

.icon-social__linkedin:before {
  content: "\e92c";
}

.icon-social__twitter:before {
  content: "\e92d";
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  cursor: pointer;
}

.container {
  width: 100vw;
  height: 100vh;
}

.disabled {
  display: none !important;
}

.container__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__flex__centered {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__direction__column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aligned__centered {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justified__centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justified__spaced {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text__tittle {
  font-family: "poppins", sans-serif;
  font-weight: 700;
}

.text {
  font-family: "roboto", sans-serif;
}

.text__semibold {
  font-weight: 500;
}

.dark.bg {
  background-color: #1F1F29;
}

.dark.bgLight {
  background-color: #302F3D;
}

.light.text {
  color: #F2F2F2;
}

.dark.text__bgLight {
  color: #302F3D;
}

.dark.text {
  color: #9691AB;
}

.dark.text__tittle {
  color: #B2AEC1;
}

.bg.apple {
  background-color: #86EF63;
}

.bg.bg__dark {
  background-color: #1E1D27;
}

.rounded {
  border-radius: 0.25rem;
}

.bordless {
  border: 0;
}

.Mmargin__top {
  margin-top: 1rem;
}

.Bmargin__top {
  margin-top: 2rem;
}

.Mmargin__bottom {
  margin-bottom: 1rem;
}

.Bmargin__bottom {
  margin-bottom: 2rem;
}

.Mmargin__right {
  margin-right: 1rem;
}

.fluid {
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.darkHover:hover {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

div.container {
  z-index: -2;
  position: fixed;
}

.container #date__container.hidden {
  -webkit-animation: scaleUp ease-in 1s;
          animation: scaleUp ease-in 1s;
}

.container #userForm__container.hidden {
  -webkit-animation: goDown ease-in 1s;
          animation: goDown ease-in 1s;
}

@-webkit-keyframes goDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  90% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes goDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  90% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes scaleUp {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  90% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleUp {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  90% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#date__container {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffffba), to(#ffffff2b));
  background: linear-gradient(180deg, #ffffffba, #ffffff2b);
  border-radius: 0.5rem;
  padding: 1rem;
  color: #1E1D27;
}

#date__container #hour {
  font-size: 8rem;
  line-height: 100%;
}

#date__container #date {
  font-size: 1.5rem;
}

#userForm__container {
  padding: 1rem 1.5rem;
  position: relative;
}

#userForm__container:before {
  -webkit-transform: translate(-4%, 37%);
          transform: translate(-4%, 37%);
  position: absolute;
  background-color: #86EF63;
  content: "";
  width: 100%;
  height: 70%;
  z-index: -1;
  border-radius: 0.25rem;
}

#userForm__container #login__container, #userForm__container #signup__container {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#userForm__container #login__container .sugestion__container, #userForm__container #signup__container .sugestion__container {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#userForm__container #login__container.hidden, #userForm__container #signup__container.hidden {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  width: 0;
}

#userForm__container #signup__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#userForm__container #signup__container.hidden {
  padding-left: 0;
}

#userForm__container #signup__container.hidden .sugestion__container {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

#userForm__container #login__container.hidden {
  padding-right: 0;
}

#userForm__container #login__container.hidden .sugestion__container {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.user__form {
  padding: 0.9rem;
  width: 16.7rem;
  z-index: 23;
}

.lockscreen__input {
  height: 2.1rem;
  width: 100%;
  padding-left: 0.5rem;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

.lockscreen__input:focus-visible {
  outline: 0;
}

.input__underline {
  width: 100%;
}

.input__underline::after {
  width: 0;
  background-color: #77EE4F;
  content: "";
  height: 8px;
  position: absolute;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
  z-index: 5;
  border-radius: 0 0 0.25rem 0.25rem;
  -webkit-transition: all 600ms;
  transition: all 600ms;
}

.lockscreen__input:focus-visible + .input__underline::after {
  width: 49.8%;
}

.input__wrapper {
  margin-top: 1rem;
}

.userForm__button {
  padding: 0.5rem 1.2rem;
  font-size: 0.87rem;
}

.form__button__container {
  margin-bottom: 1rem;
}

#signup__sugestion__container p {
  max-width: 90%;
  text-align: center;
}

#signup__sugestion__container p::first-letter {
  text-transform: uppercase;
}

.sugestion__container {
  -webkit-transition-delay: 420ms;
          transition-delay: 420ms;
}

.home__container {
  padding: 0 2rem;
  overflow: hidden;
}

#home__workspace {
  background: url("https://cdn.pixabay.com/photo/2021/03/02/01/07/cyberpunk-6061251_960_720.jpg");
  width: 100vw;
  height: 92vh;
  z-index: 0;
  position: relative;
}

#home__workspace #home__menu {
  width: 18.4vw;
  padding: 1.2rem;
  position: absolute;
  top: 58%;
  left: 50%;
  -webkit-transform-origin: center left;
          transform-origin: center left;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: goUp 600ms ease-in;
          animation: goUp 600ms ease-in;
  z-index: -1;
}

#home__workspace #home__menu div#home__buttons__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

#home__workspace #home__menu div#home__buttons__grid button.home__app__button {
  padding: 1rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-size: 110%;
}

#home__workspace #home__menu div#home__buttons__grid button.home__app__button i {
  z-index: 3;
  position: relative;
}

#home__workspace #home__menu div#home__buttons__grid button.home__app__button::before {
  background-color: #86EF63;
  color: #D8FBCC;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  left: 0;
  top: 0%;
  z-index: 2;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 400ms;
  transition: 400ms;
}

#home__workspace #home__menu div#home__buttons__grid button.home__app__button:hover i {
  color: #D8FBCC;
}

#home__workspace #home__menu div#home__buttons__grid button.home__app__button:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#home__workspace #home__menu #home__menu__footer {
  z-index: 3;
}

#home__workspace #home__menu #home__menu__footer a:hover {
  color: #F178B6;
}

#home__workspace #home__menu.hidden {
  -webkit-animation-name: goDown;
          animation-name: goDown;
}

@-webkit-keyframes goUp {
  0% {
    top: 90%;
    -webkit-transform: scaleY(1, 1) translateX(-50%);
            transform: scaleY(1, 1) translateX(-50%);
  }
  90% {
    top: 50%;
    -webkit-transform: scale(0.8, 1.2) translateX(-50%);
            transform: scale(0.8, 1.2) translateX(-50%);
  }
  100% {
    top: 58%;
    -webkit-transform: scaleY(1, 1) translateX(-50%);
            transform: scaleY(1, 1) translateX(-50%);
  }
}

@keyframes goUp {
  0% {
    top: 90%;
    -webkit-transform: scaleY(1, 1) translateX(-50%);
            transform: scaleY(1, 1) translateX(-50%);
  }
  90% {
    top: 50%;
    -webkit-transform: scale(0.8, 1.2) translateX(-50%);
            transform: scale(0.8, 1.2) translateX(-50%);
  }
  100% {
    top: 58%;
    -webkit-transform: scaleY(1, 1) translateX(-50%);
            transform: scaleY(1, 1) translateX(-50%);
  }
}

@keyframes goDown {
  100% {
    top: 90%;
    -webkit-transform: scaleY(1, 1) translateX(-50%);
            transform: scaleY(1, 1) translateX(-50%);
  }
  90% {
    top: 50%;
    -webkit-transform: scale(0.8, 1.2) translateX(-50%);
            transform: scale(0.8, 1.2) translateX(-50%);
  }
  0% {
    top: 58%;
    -webkit-transform: scaleY(1, 1) translateX(-50%);
            transform: scaleY(1, 1) translateX(-50%);
  }
}

footer {
  width: 100%;
  height: 8vh;
}

footer button#menu__button {
  font-size: 1.8rem;
  padding: 0.25rem;
  padding-bottom: -10px;
}

footer button#menu__button:hover {
  color: #F178B6;
}

button.button {
  padding: 1rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-size: 110%;
}

button.button i {
  z-index: 3;
  position: relative;
}

button.button::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  left: 0;
  top: 0%;
  z-index: 2;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 400ms;
  transition: 400ms;
}

button.button:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.button.fuchisia::before {
  background-color: #F178B6;
}

.button.fuchisia:hover i {
  color: #FCDDEC;
}

.button.apple::before {
  background-color: #86EF63;
}

.button.apple:hover i {
  color: #D8FBCC;
}

.button.fuchisia::before {
  background-color: #7879F1;
}

.button.fuchisia:hover i {
  color: #A5A6F6;
}
/*# sourceMappingURL=styles.css.map */