<!DOCTYPE html>
<html lang="en">
    <%-include ("./partials/head.ejs") %> 
<body>
    <div class="container container__flex container__flex__centered">
        <%-include ("./partials/date.ejs")%>
        <%- include("./partials/lockscreen/userForm.ejs")%> 
        <% if (message != null) { %>
            <p><%=message%></p>        
        <% } %>
    </div>
</body>
<script name="setup background resolution">
    const setResolution = () => {
        let resolution = "1920x1080";

        if(checkScreenResolution(700)) resolution = "375x667";
        else if(checkScreenResolution(2000)) resolution = "1920x1080";
        
        function checkScreenResolution(size) {
            return window.matchMedia(`(max-width: ${size}px)`).matches
        }

        return resolution;
    }
    
    document.querySelector("div.container").style.backgroundImage = `url('https://source.unsplash.com/${setResolution()}/?nature')`;
</script>
<script name="toggle containers">
    
    let isOut = true;
    
    
    const divs = ["div#date__container", "div#userForm__container"];
    divs.forEach(selector => {
        let element = document.querySelector(selector);

        document.querySelector("div.container").addEventListener("click", () => {
            if (isOut) {
                element.classList.toggle("hidden");                
            }
        })
        element.addEventListener("mouseout", () => {
            isOut = true;
        })
        element.addEventListener("mouseover", () => {
            isOut = false;
        })
    });
</script>
</html>