<div id="date__container" class="hidden container__flex container__direction__column aligned__centered dark">
    <h1 id="hour" class="text__tittle"></h1>
    <h4 id="date" class="text__tittle"></h4>
</div>
<script src="scripts/SettingDate.js"></script>